@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #f5f5f5;
  font-family: "Cinzel", serif;
}

.container {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header styles */
header {
  padding: 30px 0;
  background-color: #f5efef;
}

.inner-header {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  font-size: 16px;
  color: #3f3232;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

/* main page for home  */

.specials-box {
  margin-top: 200px;
}

h1 {
  margin-bottom: 50px;
  font-size: 18px;
}

.box {
  width: 24%;
  padding: 15px;
  border: 1px solid #75464ab2;
  border-radius: 10px;
}

.box h3 {
  font-size: 20px;
  margin-top: 10px;
}

span {
  font-size: 24px;
  float: right;
}

.item-price {
  color: green;
}

.box button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  color: #fff;
  background-color: #3f3232;
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
}

/* Gallery page */
.gallery h2 {
  font-size: 18px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.gallery-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  padding: 10px;
}

.gallery-imgs img {
  transition: 300ms;
}

.gallery-imgs img:hover {
  transform: scale(1.1);
}

/* qa page  */
.qa-page h2 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.qa-page h3 {
  font-size: 25px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 10px;
}

.qa-page p {
  font-size: 18px;
  color: #1e1c1c;
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #75464ab2;
}

/* abut us page */
.about-page h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.about-page p {
  font-size: 20px;
  color: #75464ab2;
}

/* contact page */
.title {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-info {
  text-align: center;
}

.contact-info h3 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 15px;
}

.contact-info {
  text-align: center;
  margin-bottom: 30px;
}

.contact-info h3 {
  font-size: 18px;
  color: #3f3232;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.forms {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.flex-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #3f3232;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #3f3232;
}

textarea {
  margin-top: 10px;
}

iframe {
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.marking-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.marking-block input {
  width: 20px;
  height: 20px;
}

.send-button {
  background-color: #3f3232;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  max-width: 220px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}

/* footer styles */

footer {
  background-color: #f5efef;
}

.footer-box {
  height: 300px;
  margin-top: 100px;
}

.socials {
  display: flex;
  gap: 25px;
}

.logo-specials p {
  font-size: 18px;
  margin: 20px 0 30px 0;
}

.footer-li {
  display: flex;
  align-items: center;
  gap: 150px;
}

.footer-li ul li a {
  font-size: 16px;
  color: #75464a;
  text-decoration: none;
}

.footer-li ul li {
  margin-bottom: 28px;
}
